###### https://www.youtube.com/watch?v=1xXK_z9M6yk&list=PLZlkyCIi8bMprZgBsFopRQMG_Kj1IA1WG

Quantas casa estao disponiveis para compra ?

Quantos atributos as casas possuem ?

Quais são os atributos ?

Qual é a casa mais cara ?

Qual é a casa com maior numero de quartos ?

#### Respondendo as perguntas feita no video de Python para Analise de dados do Meigarom do Seja Um Data Scientist

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Quantas casa estao disponiveis para compra ?

In [9]:
print(f'{len(df["id"])} casa disponiveis.')

21613 casa disponiveis.

In [10]:
resposta_1 = f'{len(df["id"])} casa disponiveis.'

# Quantos atributos as casas possuem ?

In [11]:
len(df.columns)

21

In [12]:
df['bedrooms']#quartos
df['bathrooms']#banheiro
df['waterfront']#vista pra o mar
df['sqft_living']#m2 da casa

0        1180
1        2570
2         770
3        1960
4        1680
         ...
21608    1530
21609    2310
21610    1020
21611    1600
21612    1020
Name: sqft_living, Length: 21613, dtype: int64

In [15]:
print('bedrooms, bathrooms, waterfront, sqft_living')

bedrooms, bathrooms, waterfront, sqft_living

In [14]:
resposta_2 = 'bedrooms, bathrooms, waterfront, sqft_living'

# Quais são os atributos ?

In [27]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [16]:
resposta_3 = df.columns

# Qual é a casa mais cara ?

In [34]:
df.query(f"price == {df['price'].max()}")

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.0,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [29]:
print(f"a casa mais cara é de {df['price'].max()}")

a casa mais cara é de 7700000.0

In [17]:
resposta_4 = f"a casa mais cara é de {df['price'].max()}"

# Qual é a casa com maior numero de quartos ?

In [33]:
df.query(f"bedrooms == {df['bedrooms'].max()}")

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

In [37]:
print(f'a casa com mais quarto tem {df["bedrooms"].max()} quartos.')

a casa com mais quarto tem 33 quartos.

In [18]:
resposta_5 = f'a casa com mais quarto tem {df["bedrooms"].max()} quartos.'

# Enviar as resposta por email

In [31]:
# import smtplib

# server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
# server.login("email@gmail.com", "token")
# server.sendmail(
#   "email@gmail.com",
#   "email@gmail.com",
#   f"""pergunta 1: {resposta_1}
#       pergunta 2: {resposta_2}
#       pergunta 3: {resposta_3}
#       pergunta 4: {resposta_4}
#       pergunta 5: {resposta_5}
#       """)
# server.quit()